/* General styles */

* {
	box-sizing: border-box;
}

html, body {
	font-family: Roboto Slab, serif;
}

/* Main menu styles */

#main-nav {
	background-color: transparent;
	border: 1px solid transparent;
	transition: all 0.3s;
	z-index: 5;
}


div.navbar-header .navbar-brand {
	color: #fff;
	font-style: italic;
	font-family: Montserrat-Regular, serif;
	font-size: 1.5em;
}

#main-nav  ul li a {
	color: #fff;
	font-family: Montserrat-Regular, serif;
	text-decoration: none;
}

#main-nav ul li a:hover {
	color: #0ed8d6;
}

#main-nav.scroll {
	background-color: #fff;
}

#main-nav.scroll ul li a {
	color: #0ed8d6;
}

#main-nav.scroll ul li a:hover {
	color: #291f1a;
}

/* Main header styles */

#main_header {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header/pictures_on_the_wall.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	height: 100vh;
	position: relative;
}



#main_header .main_header_content {
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

#main_header .main_header_content h1 {
	font-family: Droid Serif, serif;
	font-size: 4em;
	font-weight: 200;
}

#main_header .main_header_content h2 {
	font-family: Droid Serif, serif;
	font-style: italic;
	font-size: 2em;
	font-weight: 200;
}

#button-container {
	padding-top: 40px;
}

#main_header .main_header_content #view-more {
	font-family: Montserrat-Regular, serif;
	font-weight: 600;
	width: 180px;
	height: 50px;
	background-color: #0ed8d6;
	color: #fff;
	font-size: 1em;
}